<ion-view view-title="Students">
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Order by
      </div>
      <select ng-model="orden">
        <option value="">Alphabetical </option>
        <option value="-">Alphabetical inverse</option>
        <option value="-subjects.length">Number of subjects</option>
        <option value="subjects.length">Number of subjects inverse</option>
      </select>
    </label>

    <ion-list>
      <ion-item ng-repeat="student in students | orderBy:orden"  style="padding: 0px"  class="item-text-wrap">
        <div class="row" style="padding: 0px" >
          <div class="col col-90">
            <ion-item href="#/tab/students/{{student._id}}" style="border-color: transparent">
              <div class="col">
                <h2>{{ student.name }}</h2>
                <p>Subjects: {{student.subjects.length}}</p>
              </div>
            </ion-item>

          </div>
          <div class="col col-10">
            <button class="button button-clear button-small button-assertive" style="padding-top: 1em" ng-click="DeleteStudent(student._id)"><i class="icon ion-close-round"></i></button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
