<ion-view view-title="Search">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" style="width: 100%" ng-model="busqueda.name" placeholder="Search">
      <button class="button button-clear button-icon" style="alignment: right">
        <i class="ion-close-round" style="color: dimgrey"></i>
      </button>
    </div>

    <ion-list>
      <ion-item ng-repeat="student in students | filter: busqueda"  style="padding: 0px"  class="item-text-wrap">
        <div class="row" style="padding: 0px" >
          <div class="col col-90">
            <ion-item style="border-color: transparent">
              <div class="col">
                <h2>{{ student.name }}</h2>
              </div>
            </ion-item>

          </div>
          <div class="col col-10">
            <button class="button button-clear button-small button-assertive" style="padding-top: 1em" ng-click="DeleteStudent(student._id)"><i class="icon ion-close-round"></i></button>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
